<nav class="navbar navbar-expand navbar-dark theme-background">
  <a class="navbar-brand" href="/">Jeff Meyerhoff</a>

	 <ul class="navbar-nav ml-auto">
		<li class="nav-item
			{% if page.title contains "Project" %}
            active
            {% endif %}
            ">
		  <a class="nav-link" href="/projects/">Projects</a>
		</li>
		<li class="nav-item 
			{% if page.title contains "Contact" %}
            active
            {% endif %}
            ">
		  <a class="nav-link" href="/contact/">Contact</a>
		</li>
		
	 </ul>
</nav>