
<nav class="navbar navbar-expand navbar-light">
  <a class="navbar-brand" href="/">Jeff Meyerhoff</a>

	 <ul class="navbar-nav ml-auto">
		<li class="nav-item 
			{% if page.title contains "Home" %}
            active
            {% endif %}
            ">
		  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item	
			{% if page.title contains "Blog" %}
            active
            {% endif %}
            ">
		  <a class="nav-link" href="/blog/">Blog</a>
		</li>
		<li class="nav-item
			{% if page.title contains "Project" %}
            active
            {% endif %}
            ">
		  <a class="nav-link" href="/projects/">Projects</a>
		</li>
		<li class="nav-item 
			{% if page.title contains "Contact" %}
            active
            {% endif %}
            ">
		  <a class="nav-link" href="/contact/">Contact</a>
		</li>
		
	 </ul>
</nav>