td {
	padding-right: 1rem;
	vertical-align: top;
}

.img-ipad-port {
	width: 153px;
	height: 205px;
}

.img-ipad-land {
	width: 256px;
	height: 192px;
}

.img-android-port {
	width: 134px;
	height:238px;
}
.img-windows-land {
	width: 228px;
	height: 128px;
}
.img-kiosk-land {
	width: 180px;
	height: 120px;
}

time {
	font-style: italic;
}

.theme-background {
	background-color: #1565C0;
}

.btn-primary {
	background-color: #1565C0;
	border-color: #1565C0;
}