<!doctype html>
<html lang="en">
  <head>
	{% include head.html %}
  </head>
  <body>
  
  <div class="container-fluid">
  <div class="row d-block d-md-none theme-background">
  {% include horizontal_nav.html %}
  </div>
         <div class="row">
            
            <div class="col-3 d-none d-md-block theme-background">
            	{% include vertical_nav.html %}
            </div>
            
            <div class="col">
               <main class="mt-md-4">
                  {{content}}
				</main>
            </div>

         </div>
	</div>
      

  </body>
</html>