<!doctype html>
<html lang="en">
  <head>
    {% include google_analytics_script.html %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Jeff Meyerhoff - Mobile App Developer</title>
  </head>
  <body>
  
  <div class="container mt-md-4">
  <div class="row d-block d-md-none">
  {% include horizontal_nav.html %}
  </div>
         <div class="row">
            
            <div class="col-3 d-none d-md-block">
            	{% include vertical_nav.html %}
            </div>
            
            <div class="col">
               <section class="post" itemscope itemtype="http://schema.org/BlogPosting">

            	<article role="article" itemprop="articleBody">
            	{% if page.date %}
            <time itemprop="datePublished" datetime="{{ page.date }}" class="date">{{ page.date | date_to_string }}</time>
        {% endif %}
        <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
        
                {{ content }}
            	</article>

				{% include share.html %}
				{% include author.html %}
				{% include comments.html %}
				{% include footer.html %}
        		</section>

            </div>

         </div>
		<div class="row">
			<div class="col">
				{% include footer.html %}
			</div>
		</div>
	</div>
      

  </body>
</html>